@media (min-width:320px) {
  .services-one{
    width: 100vw;
    background-color: #faf8fb;
    
    .container {
      display: block;
      width: 290px;
      margin: 0 auto;
      padding-bottom: 60px;
    }

    &__block {
      position: relative;
      width: 100%;

      &::before {
        display: block;
        content: '';
        position: absolute;
        width: 95px;
        height: 173px;
        top: 54px;
        left: 19px;
        background-image: url(../image/services/one/one.png);
      }

      h2 {
        position: relative;
        padding-top: 39px;
      }
      h3 {
        position: relative;
      }
    }

    &__list {
      padding: 0 0 40px 0;
    }

    &__item {
      position: relative;
      text-indent: 10px;
      color: #5e606a;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;

      &::after {
        display: block;
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #5e606a;
        top: 10px;
      }
    }

    &__slide {
      img {
        max-width: 290px;
        border-radius: 10px;

      }
    }

    &__desc {
      margin: 0 0 0 12px;
      margin-bottom: 80px;
      color: #5e606a;
      font-size: 13px;
      font-weight: 400;
      line-height: 24px;
    }

    &__block-question {
      display: block;
      padding: 30px;
      background-color: #883eca;
      border-radius: 20px;
      color: #ffffff;
      box-shadow: 0 20px 55px  #883eca;
    }

    &__question {
      display: block;
      font-size: 13px;
      font-style: italic;
      line-height: 24px;
    }

    &__answer {
      display: block;
      margin-bottom: 25px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    &__button {
      display: block;
      margin: 0 auto;
    }
  }

  @media (min-width:750px) {
    .services-one{

      .container {
        width: 690px;
      }

      &__block {
        position: relative;
        width: 100%;

        h3 {
          width: 530px;
          margin: 0 0 66px;
        }
      }

      &__item {
        position: relative;
        text-indent: 10px;
        color: #5e606a;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;

        &::after {
          display: block;
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: #5e606a;
          top: 10px;
        }
      }

      &__slide {
        img {
          min-width: 690px;
          border-radius: 10px;

        }
      }

      &__desc {
        text-align: right;
      }

      &__block-question {
        display: flex;
        align-items: center;
        padding: 35px;
      }

      &__container-question {
        display: flex;
      }

      &__question {
        display: block;
        font-size: 13px;
        font-style: italic;
        line-height: 24px;
      }

      &__answer {
        padding: 0 30px;
        margin-bottom: 0;
      }

      &__button {
      }
    }
  }
  @media (min-width:1170px) {
    .services-one{
      position: relative;

      .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 1110px;
      }

      &__block {
        width: 470px;

        &::before {
          top: 120px;
          left: -77px;

        }


        h2 {
          margin-bottom: 70px;
        }

        h3 {
          width: 460px;
          font-size: 30px;
          font-weight: 600;
          margin: 0 0 66px;
        }
      }

      &__item {
        position: relative;
        text-indent: 10px;
        color: #5e606a;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;

        &::after {
          display: block;
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: #5e606a;
          top: 10px;
        }
      }

      &__block-slider {
        width: 640px;
        margin-top: 186px;
      }

      &__slide {
        width: 500px;
        img {
          min-width: 640px;
          border-radius: 10px;

        }
      }

      &__desc {
        width: 500px;
        text-align: right;
      }

      &__block-question {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 30px 25px;
        position: absolute;
        bottom: 243px;
      }

      &__container-question {
        display: block;
      }

      &__question {
        display: flex;
        padding: 0;
      }

      &__answer {
        display: block;
        font-size: 15px;
        padding: 0 15px 0 0;
      }

      &__button {
      }
    }
  }
}