@media (min-width:320px) {
  .services-two {
    width: 100vw;
    background-color: #fff;

    .container {
      display: block;
      width: 291px;
      margin: 0 auto;
      padding-bottom: 290px;
      position: relative;
    }
    &__block {
      position: relative;
      width: 100%;

      &::before {
        display: block;
        content: '';
        position: absolute;
        width: 127px;
        height: 173px;
        top: -55px;
        left: 19px;
        background-image: url(../image/services/two/two.png);
      }

      h3 {
        position: relative;
        margin-top: 70px;
        margin-bottom: 44px;
        z-index: 1;
      }
    }

    &__button {
      position: relative;
      z-index: 1;
    }

    &__text {
      position: relative;
      z-index: 1;
      color: #5e606a;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 47px;
    }

    &__block-img {
      position: absolute;
      width: 280px;
      height: 340px;
      overflow: hidden;
      left: 15px;
      bottom: 115px;
      z-index: 0;
    }

    &__flower {
      position: absolute;
      width: 80px;
      left: 221px;
      bottom: 90px;
    }

    &__sofa {
      position: absolute;
      left: 15px;
      bottom: 0;
    }
  }


  @media (min-width:750px) {
    .services-two {
      .container {
        width: 690px;
        padding-bottom: 400px;
      }
      &__block {
        &::before {
        }

        h3 {
          width: 320px;
          margin: 60px 0;
        }
      }

      &__button {
        text-align: left;
      }

      &__text {
        width: 547px;
      }

      &__block-img {
        width: 550px;
        height: 615px;
        left: 154px;
        bottom: 75px;
      }

      &__flower {
        width: 145px;
        left: 405px;
        bottom: 159px;
      }

      &__sofa {
        width: 793px;
        left: 15px;
        bottom: 0;
      }
    }
  }
  @media (min-width:1170px) {
    .services-two{

      .container {
        width: 1110px;
        padding-bottom: 570px;
      }
      &__block {
        width: 550px;
        margin: auto 0 auto auto;

        &::before {
          left: -85px;
        }

        h3 {
          font-size: 30px;
          font-weight: 600;
          width: 460px;
          margin: 120px 0 60px;
        }
      }

      &__button {
      }

      &__text {
      }

      &__block-img {
        width: 1010px;
        height: 1000px;
        overflow: visible;
        left: 0;
        bottom: 145px;
        z-index: 0;
      }

      &__flower {
        width: 779px;
        left: -285px;
        bottom: 200px;
      }

      &__sofa {
        width: 1010px;
        left: -45px;
        bottom: 0;
      }
    }
  }
}