<srction id="about" class="about">
    <div class="content">
        <div class="about__block-text">
            <h2>1. О нас</h2>
            <h3>Полный спектр услуг — от дизайна до печати</h3>
            <p class="about__text">К вашим услугам мы предлагаем полный спектр работ, начиная от печати открыток, чертежей, баннеров,
                растяжек, создания буклетов и эксклюзивных календарей, и заканчивая постпечатной обработкой.</p>
            <p class="about__text">В копицентре не просто предоставляют услуги печати: мы ориентируемся на комплексное обслуживание.
                Все услуги, будь то оперативная цифровая печать открыток или разработка серии календарей, Вы можете
                получить в одном месте, воспользовавшись сопутствующими услугами копицентра.</p>
            <p class="about__text">При этом работа выполняется в максимально сжатые сроки и не в ущерб качеству конечного результата,
                которое неизменно остается на высоте.</p>
        </div>
        <!-- /.about__text -->
        <div class="about__steps">
            <picture>
                <source media="(min-width:1170px)" srcset="image/about/about-arrows__1170.png">
                <source media="(min-width:750px)"  srcset="image/about/about-arrows__750.png">
                <img class="steps-bg" src="image/about/about-arrows.png" alt="Стрелки">
            </picture>

            <div class="about__item about__item-book">
                <div class="about__box">
                    <img class="about__book" src="image/about/about-book.png" alt="Книга">
                </div>
                <p class="about__description">Приём и детальное обсуждение заказа</p>
            </div>
            <div class="about__item about__item-tablet">
                <div class="about__box">
                    <img class="about__book" src="image/about/about-tablet.png" alt="Планшет">
                </div>
                <p class="about__description">Создание и согласование дизайн-макета</p>
            </div>
            <div class="about__item about__item-writer">
                <div class="about__box">
                    <img class="about__book" src="image/about/about-writer.png" alt="Бумага">
                </div>
                <p class="about__description">Печать и постпечатная обработка изделий любых размеров</p>
            </div>
            <div class="about__item about__item-moving">
                <div class="about__box">
                    <img class="about__book" src="image/about/about-moving.png" alt="Машина">
                </div>
                <p class="about__description">Доставка готовой продукции</p>
            </div>

        </div>
        <!-- /.about__img -->
    </div>
    <!-- /.content -->
</srction>
<!-- /.about -->