<section class="banner">
    <div class="container">
        <img class="banner__img" src="image/banner/banner-img.png" alt="Баннер">
        <div class="banner__text">
            <h2 class="banner__title">Размер <br> не имеет <br> значения!</h2>
            <!-- /.banner__title -->
            <div class="banner__subtitle">Оперативная полиграфия <br> и широкоформатная печать <br> любого размера</div>
            <!-- /.banner__subtitle -->
            <button class="banner__button btn">Заказать печать</button>
            <!-- /.banner__button -->
        </div>
        <a class="next-section" href="#about"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19" height="31"><defs><path id="a" d="M951 851.5a9.5 9.5 0 1 1 19 0v12a9.5 9.5 0 1 1-19 0z"/><path id="b" d="M960 849.5a.5.5 0 0 1 1 0v4a.5.5 0 0 1-1 0z"/><clipPath id="c"><use fill="#fff" xlink:href="#a"/></clipPath><clipPath id="d"><use fill="#fff" xlink:href="#b"/></clipPath></defs><use fill="#fff" fill-opacity="0" stroke="#fff" stroke-miterlimit="50" stroke-width="4" clip-path="url(&quot;#c&quot;)" xlink:href="#a" transform="translate(-951 -842)"/><use fill="#fff" fill-opacity="0" stroke="#fff" stroke-miterlimit="50" stroke-width="4" clip-path="url(&quot;#d&quot;)" xlink:href="#b" transform="translate(-951 -842)"/></svg></a>
    </div>
    <!-- /.container -->
</section>
<!-- /.banner -->