<section id="faq" class="faq">
    <div class="container">
        <h2>4. Частые вопросы (FAQ)</h2>
        <div class="faq__content">
            <div class="faq__block">
                <h4>Что такое макет?</h4>
                <p class="faq__help">Макет — это будущее печатное изделие в электронном формате.
                    Верстают (собирают) макет в специализированном программном обеспечении. </p>
                <h4>У меня есть готовый макет</h4>
                <p class="faq__help">Вы можете привезти его к нам в офис на любом удобном для вас
                    носителе (диск, флешка). В присутствии вас мы обработаем ваш макет и отправим его в производство.</p>
                <h4>У меня нет макета</h4>
                <p class="faq__help">В нашем штате работают професиональные дизайнеры, которые с ваших слов или в
                    вашем присутствии сверстают макет, который после утверждения также будет отправлен в печать.</p>
            </div>
            <div class="faq__block">
                <h4>Сколько времени занимает печать?</h4>
                <p class="faq__help">В том случае если изображение готово к печати, изготовление занимает около 3 часов.
                    Также время изготовления зависит от нашей загруженности.</p>
                <h4>Я не могу приехать к вам в офис</h4>
                <p class="faq__help">Отправьте нам изображение по электронной почте, укажите свой телефон.
                    Мы свяжемся с вами для уточнения деталей. Готовое изделие мы доставим вам курьером.</p>
                <h4>Вызов курьера бесплатный?</h4>
                <p class="faq__help">В зависимости от соимости заказа, курьер может доставить вам продукцию бесплатно
                    (при соимости от 600 руб.) или от 150 руб. в пределах Ярославля и до 500 руб.
                    в пределах Ярославской области.</p>
            </div>
        </div>
        <form action="get" class="form form-main">
            <div class="form__block-question">
                <span class="form__text form-main__text">Остались вопросы?</span>
                <span class="form__text-b form-main__text-b"><strong>Оставьте заявку на консультацию</strong></span>
            </div>
            <div class="form__item form-main__item">
                <input class="form__input form-main__input" id="name" type="text" autocomplete="off" required>
                <label class="form__label form-main__label form__label-name" for="name">Имя</label>
            </div>
            <div class="form__item form-main__item">
                <input class="form__input form-main__input" id="tel" type="tel" autocomplete="off" required>
                <label class="form__label form-main__label form__label-tel" for="tel">Телефон</label>
            </div>
            <button type="submit" class="form__button form-main__button btn">Отправить</button>
        </form>
    </div>
    <!-- /.container -->
</section>
<!-- /.faq -->