<header class="header">
    <div id="container" class="container">
        <div class="header__logo">
            Artactive
        </div>
        <nav class="main-nav">
            <button class="main-nav__toggle"><span class="visually-hidden">Открыть меню</span></button>
            <ul id="site-list" class="main-nav__site-list site-list">
                <li class="site-list__item"><a href="#">О нас</a></li>
                <li class="site-list__item"><a href="#">Услуги</a></li>
                <li class="site-list__item"><a href="#">Отзывы</a></li>
                <li class="site-list__item"><a href="#">Faq</a></li>
                <li class="site-list__item"><a href="#">Контакты</a></li>
            </ul>
            <!-- /.main-nav__site-list -->
            <ul id="user-list" class="main-nav__user-list user-list">
                <li class="user-list__item"><a href="tel:+79201488131">+7 (920) 148 81 31</a></li>
                <li class="user-list__item"><button class="btn btn--o">Заказать звонок</button></li>
            </ul>
            <!-- /.main-nav__user-list -->
        </nav>
        <!-- /.nav -->
    </div>
    <!-- /.container -->
</header>