<section class="map">
    <picture>
        <source media="(min-width:1170px)" srcset="image/map/map-3.jpg">
        <source media="(min-width:750px)" srcset="image/map/map-2.jpg">
        <img src="image/map/map.jpg" alt="" class="map__img-main">
    </picture>
    <div class="container">
        <h2 class="map__title">5. Контакты</h2>
        <div class="map__text map__text-address">г. Ярославль, проспект Октября, 88</div>
        <div class="map__text map__text-mail"><a class="map__link" href="mailto:art-aktiv.76@mail.ru">art-aktiv.76@mail.ru</a></div>
        <div class="map__text map__text-tel"><a class="map__link" href="tel:+79201488131">+7 (920) 148 81 31</a></div>
    </div>
    <!-- /.container -->
</section>
<!-- /.map -->