<section id="reviews" class="reviews">
    <div class="container">
            <h2>3. Отзывы</h2>
            <div class="reviews__slider">
                <div class="reviews__slide">
                    <div class="reviews__wrapper">
                        <div class="reviews__wrap-img">
                            <img src="image/reviews/1.jpg" alt="">
                        </div>
                        <div class="reviews__wrap-content">
                            <p class="reviews__text">Обратился в компанию АртАктив за визитками. Это мой первый опыт, поэтому
                                немного нервничал, не знал, с чего начать. Остался доволен, потому что мне всё объяснили,
                                немного нервничал, не знал, с чего начать. Остался доволен, потому что мне всё объяснили,
                                немного нервничал, не знал, с чего начать. Остался доволен, потому что мне всё объяснили,
                                показали и сделали по высшему разряду. Советую!</p>
                            <span class="reviews__name">Еремеев Иван</span><span class="reviews__age">26 лет</span>
                            <a href="https://vk.com/idunaverh" target="_blank" class="reviews__link">vk.com/idunaverh</a>
                        </div>
                    </div>
                </div>

                <div class="reviews__slide">
                    <div class="reviews__wrapper">
                        <div class="reviews__wrap-img">
                            <img src="image/reviews/3.jpg" alt="">
                        </div>
                        <div class="reviews__wrap-content">
                            <p class="reviews__text">Я тащер какток в пубг и меня ни кто не ценит за то что я особенный!!!!!!!!!!!</p>
                            <span class="reviews__name">Антонов Владислав</span><span class="reviews__age">23 года</span>
                            <a href="https://vk.com/d1zz3r0n3" target="_blank" class="reviews__link">vk.com/d1zz3r0n3</a>
                        </div>
                    </div>
                </div>

                <div class="reviews__slide">
                    <div class="reviews__wrapper">
                        <div class="reviews__wrap-img">
                            <img src="image/reviews/2.jpg" alt="">
                        </div>
                        <div class="reviews__wrap-content">
                            <p class="reviews__text">Я лагаю но пытаюсь тащить, очень нравится работать на заводе, пойдете
                                сегодня ко мне в баню!!!</p>
                            <span class="reviews__name">Попов Леонид</span><span class="reviews__age">13 лет</span>
                            <a href="https://vk.com/id68387195" target="_blank" class="reviews__link">vk.com/id68387195</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.services -->