<section id="services" class="services-three">
    <div class="container">
        <div class="services-three__block">
            <h3>Оперативная полиграфия — от визитки до баннера</h3>
            <p class="services-three__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <p class="services-three__text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error.
            </p>
        </div>

        <div class="services-three__block-img">
            <img src="image/services/three/corporate-style.png" alt="">
        </div>

        <div class="services-three__block-form">
            <form action="" class="form">
                <div class="form__block-question">
                    <span class="form__question">Есть вопросы?</span>
                    <span class="form__answer">
                        <strong>Оставьте заявкуна на консультацию</strong>
                    </span>
                </div>
                <label class="form__label form__label-name" for="name">
                    <input id="name" type="text" placeholder="">
                </label>
                <label class="form__label form__label-tel" for="tel">
                    <input id="tel" type="tel" placeholder="">
                </label>
                <button class="form__button btn">Отправить</button>
            </form>
            <div class="services-three__plane">
                <img class="services-three__plane-img" src="image/services/three/plane.png" alt="Самолет">
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.services -->