<section id="services" class="services-one">
    <div class="container">
        <div class="services-one__block">
            <h2>2. Услуги</h2>
            <h3>Широкоформатная печать баннеров, растяжек, афиш</h3>
            <ul class="services-one__list">
                <li class="services-one__item">подготовка макетов к печати, дизайн рекламных баннеров</li>
                <li class="services-one__item">срочная печать за 3 часа</li>
                <li class="services-one__item">проварка карманов и сварка нескольких изображений</li>
                <li class="services-one__item">пробивка люверсов и вварка монтажных тросов</li>
                <li class="services-one__item">изготовление цветопробы</li>
                <li class="services-one__item">доставка баннеров</li>
            </ul>
        </div>
        <div class="services-one__block-slider">
            <div class="services-one__slider">
                <div class="services-one__slide"><img src="image/services/one/slides/1-min.jpg" alt="" class="sl__img"></div>
                <div class="services-one__slide"><img src="image/services/one/slides/2-min.jpg" alt="" class="sl__img"></div>
                <div class="services-one__slide"><img src="image/services/one/slides/3-min.jpg" alt="" class="sl__img"></div>
                <div class="services-one__slide"><img src="image/services/one/slides/4-min.jpg" alt="" class="sl__img"></div>
                <div class="services-one__slide"><img src="image/services/one/slides/5-min.jpg" alt="" class="sl__img"></div>
                <div class="services-one__slide"><img src="image/services/one/slides/6-min.jpg" alt="" class="sl__img"></div>
                <div class="services-one__slide"><img src="image/services/one/slides/7-min.jpg" alt="" class="sl__img"></div>
                <div class="services-one__slide"><img src="image/services/one/slides/8-min.jpg" alt="" class="sl__img"></div>
                <div class="services-one__slide"><img src="image/services/one/slides/9-min.jpg" alt="" class="sl__img"></div>
                <div class="services-one__slide"><img src="image/services/one/slides/10-min.jpg" alt="" class="sl__img"></div>
                <div class="services-one__slide"><img src="image/services/one/slides/11-min.jpg" alt="" class="sl__img"></div>
                <div class="services-one__slide"><img src="image/services/one/slides/12-min.jpg" alt="" class="sl__img"></div>
                <div class="services-one__slide"><img src="image/services/one/slides/13-min.jpg" alt="" class="sl__img"></div>
                <div class="services-one__slide"><img src="image/services/one/slides/14-min.jpg" alt="" class="sl__img"></div>
                <div class="services-one__slide"><img src="image/services/one/slides/15-min.jpg" alt="" class="sl__img"></div>
            </div>
            <p class="services-one__desc">Растяжка на ул. Ленина</p>
        </div>
        <div class="services-one__block-question">
            <div class="services-one__container-question">
                <span class="services-one__question">Есть вопросы?</span>
                <span class="services-one__answer">
                <strong>Закажите консультацию</strong>
            </span>
            </div>
            <button class="services-one__button btn">Заказать</button>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.services -->