<section id="services" class="services-two">
    <div class="container">
        <div class="services-two__block">
            <h3>Широкоформатная печать для вашего интерьера</h3>
            <p class="services-two__text">Печатаем широкоформатные фотографии на глянцевой и матовой фотобумаге
                разной плотности, на глянцевом и матовом холсте или на самоклеющейся пленке. также можем предложить
                обработку и редактирование ваших фотографий силами наших дизайнеров: композиции, фотоколлаж,
                ретушь, различные эффекты</p>
            <button class="services-two__button btn">Оставить заявку</button>
        </div>
        <div class="services-two__block-img">
            <picture>
                <source media="(min-width:1170px)" srcset="image/services/two/flower-big.png">
                <img src="image/services/two/flower.png" alt="" class="services-two__flower">
            </picture>
            <picture>
                <source media="(min-width:1170px)" srcset="image/services/two/sofa-big.png">
                <img src="image/services/two/sofa.png" alt="" class="services-two__sofa">
            </picture>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.services -->